.player-input {
  max-width: 298px;
}
.player-input .btn-outline-secondary {
  --bs-btn-color: var(--bs-gray-400);
  --bs-btn-border-color: #dee2e6;
}

.player-input .lock {
  color: var(--bs-gray-400);
}