.players .input-group:not(:focus-within) > .is-invalid~.invalid-tooltip {
  display:none;
}
.players .input-group > .is-invalid~.invalid-tooltip {
  border-radius: var(--bs-border-radius) !important;
}
.players .tool-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.players button.btn.inactive {
  color: #c6c6c6;
}