.btn.btn-working {
  position: relative;
}
.btn.btn-working > :last-child {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
}
.btn.btn-working.working > :first-child {
  opacity: 0;
}
.btn.btn-working:not(.working) > :last-child {
  display: none;
}