
.winner-wrapper {
  position: relative;
  z-index: 0;
}
.winner {
  width: 11em;
}
.winner.empty {
  background: var(--bs-gray-100);
  border-radius: 3px;
  height: 40px;
}
.winner:not(.empty) {
  justify-self: right;
  text-align: center;

  background: white;
  border-radius: 20px;
  padding: 0.5em 0.75em;
  color: #993399;

  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.winner:not(.empty)::before,
.winner:not(.empty)::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -0.25rem;
  background: conic-gradient(
    from var(--gradient-angle),
    #dd6633,
    #dd33dd,
    #3366dd,
    #dd33dd,
    #dd6633
  );
  border-radius: 24px;
  animation: rotation 1s linear infinite;
}

.winner:not(.empty)::after {
  filter: blur(1.5rem);
  box-sizing: content-box;
}

@keyframes rotation {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}